.wq-background
  .wq-background-img
    = image_tag "weixin/q/correct_answer.jpg",width: "100%"
  .ktlogo-warp
    .ktbtn
      = link_to image_tag("weixin/q/btn1.png",width: "67.6%"),"/weixin/users/select_sign_up?wx_id=#{params[:wx_id]}"
