.wq-background
  .wq-background-img
    = image_tag "weixin/q/wrong_answer.jpg",width: "100%"
  .ktlogo-warp
    .ktbtn
      = link_to image_tag("weixin/q/btn3.png",width: "67.6%"),"/weixin/users/guanzhu?wx_id=#{params[:wx_id]}"
