:css
  p{ line-height: 2em; font-size: 14px; }

#register-login-page{style: "padding: 100px;"}
  %h1.center.w200
    适用法律和管辖权
  %p.mt20
    通过访问本网站及使用通过本网站网址提供的设施和（或）服务, 即表示您同意该访问及该实施和/或服务的提供受中华人民共和国法律的约束，且您同意受中华人民共和国法院的管辖。 
  %p.mt10
    安全声明
    本网站是上海恒豪文化传播有限公司（KT足球）官方网站，已在国家工信部备案。备案号：沪ICP备13027065号。本单位有专员负责网站安全，并已经签署《互联网信息安全备案认证协议》
    = link_to "（点此查看）","http://www.yanghongnian.com/beianbiao.jpg",:target => "_blank"
  %p.mt10
    %p.bold
      法律声明
    %p
      KT足球网址访问规则及条件
    %p
      以下规则适用于所有访问本网站的用户或浏览者，上海恒豪文化传播有限公司（KT足球）保留随时修改这些规则的权利。访问本网站的权利由KT足球根据下列条款授予。访问者在接受本网站服务之前，请务必仔细阅读同意本声明。访问者访问本网站的行为以及通过各类方式利用本网站的行为，都将被视作是对本声明全部内容的无异议的认可；如有异议，请立即联系本网站进行协商，并取得本网站的书面同意。如果您不同意下列任何条款、请停止使用本网址。对于违反本网站规则的行为，KT足球有权采取法律和公平的补救措施。 
    %p.bold
      第一条 访问者在从事与本网站相关的所有行为(包括但不限于访问浏览、利用、转载、宣传介绍)时，必须以善意且谨慎的态度行事；访问者不得故意或者过失的损害或者弱化本网站的各类合法权利与利益，不得利用本网站以任何方式直接或者间接的从事违反中国法律、国际公约以及社会公德的行为，且访问者应当恪守下述承诺：
    %p
      1、传输和利用信息符合中国法律、国际公约的规定、符合公序良俗;
    %p
      2、不将本网站以及与之相关的网络服务用作非法用途以及非正当用途;
    %p
      3、不干扰和扰乱本网站以及与之相关的网络服务;
    %p
      4、遵守与本网站以及与之相关的网络服务的协议、规定、程序和惯例等。
    %p.bold
      第二条 著作权、版权声明
    %p
      本网站所载的所有材料或内容受版权法的保护，著作权、版权由KT足球拥有，但注明引用其他方的内容除外。未经KT足球或其他方事先书面许可，任何人不得将本网站上的任何内容以任何方式进行复制、经销、翻印、播放、传送或者其他任何商业目的的使用，但对于非商业目的的、个人使用的下载或打印（不
      得修改，且须保留该材料中的版权说明或其他所有权的说明）除外。 
      本网站有权将在本网站内发表的作品用于其他用途，包括网站、电子杂志等，作品有附带版权声明者除外。
    %p.bold
      第三条 商标权声明
    %p
      本网站上使用和显示的所有商标、标志皆属KT足球所有，但注明属于其他方拥有的商标、标志、商号或第三方链接标记的除外。本网站所载的任何内容不应被视作未经KT足球或其他方书面许可，以暗示、不反对或其他形式授予使用前述任何商标、标志的许可或权利。未经事先书面许可，任何人不得以任何方式使用KT足球名称及KT足球的商标、标记。 
    %p.bold
      第四条 第三方链接
    %p
      本网站可能保留有与第三方网站或网址的链接，访问这些链接将由用户自己作出决定，本网站并不保证这些链接上所提供的任何信息、数据、观点、图片、陈述或建议的准确性、完整性、充分性和可靠性。对于任何因使用或信赖从此类网站或资源上获取的内容、产品、服务或其他材料而造成(或声称造成)的任何直接或间接损失，本网站均不承担任何责任。
    %p.bold
      第五条 隐私权声明
    %p
      KT足球充分尊重您的隐私权，并且不遗余力保护您的个人信息。通常情况下，您不需要提供任何个人信息就可以浏览KT足球的网站。为特定的目的，如果您以自愿填写的方式提供注册或订阅电子信息所需的姓名、性别、证件种类及证件号、出生年月日、国家、电子邮件信箱、电话、联系地址和邮政编码、所希望提供的服务或喜好信息、客户代码以及其他类似的个人信息，则表示您已经了解并接受您个人信息的用途，同意KT足球为实现该特定目的使用您的个人信息。 
      KT足球承诺在任何时候、任何情况下都不会出售您的个人信息，KT足球只会在法律允许的范围内使用根据本条款获得的信息。但KT足球可能会根据法律、政府部门的要求向这些部门提供您某些个人信息；或在KT足球有理由认为有必要这样做来保护KT足球、客户或公众时，也可能在尽可能小的范围内公开某些个人信息，在您提供个人信息的时候应该已经预见并同意这种情况的发生。 
      由于用户将个人密码告知他人或与他人共享注册账户，由此导致的任何个人资料泄露，本网站不负任何责任。
    %p.bold
      第六条 本网站有部分内容来自互联网，如无意中侵犯了哪个媒体、公司、企业或个人等的知识产权，请来电或致函告之，本网站将在规定时间内给予删除等相关处理，若有涉及版权费等问题，请及时提供相关证明等材料并与我们联系，通过友好协商公平公正原则处理纠纷。
    %p.bold
      第七条 以上声明内容的最终解释权归上海恒豪文化传播有限公司所有。
