#homepage2{style: "background-color: white; height: 1100px;"}
  .sectiontop
    .centerText.font36.pd40
      .mt20
        是范者团队
    %p.font18.center.w600.mt20{style: "line-height: 1.5em;"}
      2014年是KT⾜足球发展快速的起始點， 我們希望吸引更多對夢想有激情
      %br/
      且熱忱的夥伴⼀一同加⼊入我們。在全球23個分部中，KT⾜足球上海总部将
      %br/
      会是全球市场的⼤大脑，所以在这⾥里的每⼀一个成员都是有梦想和共同
      %br/
      价值观的精英！ 
    .mb20{style: "margin-bottom: 40px;"}
      = image_tag "newhome/about/join.jpg"
