#main-container-title
  %span
    创建企业
#main-container-body
  = render "shared/flash"

  = simple_form_for resource || Company.new, url: newadmin_companies_path() do |f|
    = render partial: "form", locals: { f: f, ftype: :new  }

