pre#terms
  |KICK TEMPO街头足球PK赛用户参赛承诺书

    我自愿报名参加KICK TEMPO街头足球PK赛，我承诺：
    1. 我自愿参加比赛，对自己的身体健康情况负责，不曾患有心脏病、高血压等不适宜剧烈运动的疾病，
        可以参与比赛；如在比赛中意外受伤，主办方不必承担任何责任。
    2. 我服从比赛安排，在比赛现场听从工作人员指挥，如有问题将及时向工作人员询问、反馈，
        不自作主张干涉或影响比赛进程。
    3. PANNA K.O.这项运动旨在推广技术足球，我在比赛中将尽可能减少的身体碰撞等行为。
        如果在比赛中因我将球踢出场地导致观众受伤或者周围设施受破坏，将由我自行赔偿、承担全部责任。
    4. 我服从裁判、尊重对手，不过分以输赢为目的。
    5. 文明比赛，我不会因任何原因，在比赛中或比赛后，对对手或者比赛主办方、协办方、赞助商、
        工作人员、观众等进行辱骂、打击报复等
