p
  | 你好#{@resource.email}！
p 有申请重置你的密码，你可以使用下面的链接来重置：
p= link_to '重置密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
p 如果你没有请求过，请无视这封邮件。
p 除非你访问上面的链接，否则密码不会发生改变。
