= link_to '',{:controller => "home", :action => "agent_reports", :city => user.city}, class: "#{user.area} agent province", title: user.city, method: 'get', remote: true, :form => { "data-type" => "html" }
