= link_to '',donated_citys_path(params: {province: province.province}), class: "donated #{province.province} province", title: province.province_name, method: 'get', remote: true, :form => { "data-type" => "html" }
